#page-container {
    position: relative;
    min-height: 400vh;
  }
#content-wrap {
    padding-bottom: 1rem;    /* Footer height */
  }
.sidenav-header {
  
  margin-bottom: 0px;
  padding: 15px 0 0 15px;
    .row {
      margin-bottom: 0;
    }
  }
  div.content {
    margin-left: 300px;
    padding: 1px 16px;
    height: 100px;
  }
  
  .side-nav .divider {
      margin:0;
      height:8px;
      border-bottom:1px solid #e0e0e0;
      background-color: transparent;
    }
    .side-nav li>a {
      padding: 0 16px;
    }
    .dropdown-content{
      width: max-content !important;
      height:auto !important;
   }
  /* On screens that are less than 995px wide, make the sidebar into a topbar */
   @media screen and (max-width: 995px) {
    .side-nav {
      width: 100%;
      height: auto;
      position: relative;
    }
    .side-nav li>a {float: left;}
    div.content {margin-left: 0;}
    header{margin-left: 0;}
    .page-footer{
      margin-left:0px;
    }
    
    div.nav-extended{margin-left: 0;}
  }
  
  