.u-section-1 {
  background-image: url("images/bg3.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 555px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 553px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-size: 1.75rem;
  margin: 181px 57px 0 74px;
}

.u-section-1 .u-text-2 {
  font-size: 6rem;
  line-height: 0.8;
  margin: 13px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 553px;
  background-image: url("images/05096a4dd6324fe978420e015a77f641.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 456px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 136px;
    margin-right: 74px;
    margin-left: 41px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 7px;
    margin-right: 7px;
    margin-left: -7px;
    font-size: 4.5rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 456px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 349px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 111px;
    margin-right: 49px;
    margin-left: 82px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    margin-top: 12px;
    margin-right: -10px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 349px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 62px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 5.625rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 524px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 39px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 330px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1039px;
}

.u-section-2 .u-group-1 {
  min-height: 228px;
  margin: 50px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 52px 0 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 20px 110px 0 59px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 31px auto 96px 0;
}

.u-section-2 .u-image-1 {
  min-height: 326px;
  background-image: url("images/images4.jfif");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 338px;
  background-image: none;
}

.u-section-2 .u-icon-1 {
  height: 47px;
  width: 47px;
  color: rgb(219, 84, 90) !important;
  margin: 30px auto 0;
}

.u-section-2 .u-text-3 {
  text-transform: none;
  margin: 12px 31px 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 20px 31px 30px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 332px;
  background-image: none;
}

.u-section-2 .u-icon-2 {
  height: 47px;
  width: 47px;
  color: rgb(219, 84, 90) !important;
  margin: 30px auto 0;
}

.u-section-2 .u-text-5 {
  text-transform: none;
  margin: 12px 31px 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 20px 31px 30px;
}

.u-section-2 .u-image-2 {
  min-height: 332px;
  background-image: url("images/1505311407-6586.jpg");
  background-position: 22.02% 29.92%;
  background-size: auto 125%;
}

.u-section-2 .u-container-layout-5 {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-image-3 {
  min-height: 327px;
  background-image: url("images/logistics-complex-like-puzzle-pictured-as-word-logistics-puzzle-pieces-to-show-logistics-can-be-difficult-needs-164220684.jpg");
  background-position: 46.52% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 337px;
  background-image: none;
}

.u-section-2 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-3 {
  height: 47px;
  width: 47px;
  color: rgb(219, 84, 90) !important;
  margin: 30px auto 0 157px;
}

.u-section-2 .u-text-7 {
  text-transform: none;
  margin: 12px 31px 0;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  margin: 20px 31px 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1059px;
  }

  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    position: relative;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-2 .u-text-5 {
    position: relative;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-2 .u-text-6 {
    position: relative;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: auto;
  }

  .u-section-2 .u-text-7 {
    position: relative;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-2 .u-text-8 {
    position: relative;
    margin-left: 26px;
    margin-right: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-layout-cell-3 {
    order: 1;
  }

  .u-section-2 .u-text-5 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-image-2 {
    order: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }
}.u-section-3 {
  min-height: 630px;
  background-image: none;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  min-height: 630px;
  background-image: url("images/bg6.jpg");
  background-position: 0% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 630px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  font-size: 4.375rem;
  margin: 136px 0 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 14px 43px 0 37px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 519px;
  }

  .u-section-3 .u-image-1 {
    min-height: 519px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 537px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    min-height: 398px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 50px 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    min-height: 597px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 100px;
    padding-left: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    min-height: 376px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 35px;
  }

  .u-section-3 .u-text-1 {
    font-size: 4.0625rem;
  }
}